/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: #f5efe7;
  font-family: "Trebuchet MS", "Segoe UI", sans-serif;
}

// img,
// html {
//   filter: invert(100%) hue-rotate(180deg) brightness(100%) contrast(100%);
// }
